<div class="filter">
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name">
    <div class="form-check">
        <input id="unknown" type="checkbox" class="form-check-input" [(ngModel)]="unknown">
        <label class="form-check-label" for="unknown">Unknown</label>
    </div>
</div>

<div class="list-group">
    <div *ngFor="let resource of resources" class="list-group-item">
        <div>{{resource.name}}</div>
        <div>{{resource.visual}}</div>
        <div>{{resource.unknown}}</div>
    </div>
</div>

<page-counter [(page)]="page" (pageChange)="onPaging()"></page-counter>
