<mat-spinner *ngIf="dataSource.loading | async"></mat-spinner>

<div class="toolbar">
    <button mat-stroked-button color="primary" (click)="new()"><mat-icon>add</mat-icon></button>
</div>

<mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="id"
        matSortDirection="desc"
        class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="enabled">
        <mat-header-cell *matHeaderCellDef>Enabled</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <mat-slide-toggle [(ngModel)]="item.enabled"></mat-slide-toggle>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
            <button mat-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="showingColumns"></mat-header-row>
    <mat-row *matRowDef="let row, columns: showingColumns" (click)="edit(row)"></mat-row>

</mat-table>

<mat-paginator [length]="dataSource.total | async" [pageSize]="10"></mat-paginator>

<div class="view">
    <learning-view *ngIf="job" [job]="job"></learning-view>
</div>