.gantt {
    width: 600px;
    height: 300px;
}

text {
    color: #4e4e4e;
    font-size: 16px;
    font-family: 'Source Sans Pro', serif;
}

.time-axis > .labels > text {
    text-anchor: middle;
    dominant-baseline: middle;
}

.task-list > .task > text {
    dominant-baseline: middle;
}

.viewport > .bar {
    fill: #2196F3;
}

.viewport line {
    stroke: #e1e2e6;
    stroke-width: 1px;
    fill: transparent;
}

.scroll-slider {
    fill: #e1e2e6;
}

.button-panel .button-background {
    fill: white;
}

.button-panel .button-background:hover {
    fill: lightgray;
}

.button-panel .button-background.active {
    fill: gray;
}