<div class="header">
    <h1>Resource</h1>
    <i class="material-icons c-pointer" (click)="save()">done</i>
    <i class="material-icons c-pointer" (click)="close()">close</i>
</div>
<div>{{resource.name}}</div>
<div class="form-check">
    <input id="unknown" type="checkbox" class="form-check-input" [(ngModel)]="resource.unknown">
    <label class="form-check-label" for="unknown">Unknown</label>
</div>
<div class="form-check">
    <input id="re-box" type="checkbox" class="form-check-input" [(ngModel)]="resource.box">
    <label class="form-check-label" for="re-box">Box</label>
</div>
<div class="form-check">
    <input id="re-heap" type="checkbox" class="form-check-input" [(ngModel)]="resource.heap">
    <label class="form-check-label" for="re-heap">Heap</label>
</div>
<div class="form-check">
    <input id="re-item" type="checkbox" class="form-check-input" [(ngModel)]="resource.item">
    <label class="form-check-label" for="re-item">Item</label>
</div>
<input type="text" class="form-control" placeholder="Width" [(ngModel)]="resource.x">
<input type="text" class="form-control" placeholder="Height" [(ngModel)]="resource.y">
