<nav>
    <i class="material-icons" (click)="toggleCollapsed()">menu</i>
</nav>
<aside class="nav">
    <div class="nav-item">
        <a class="nav-link" [class.collapsed]="collapsed" href="#" (click)="openStub('resources')"><i class="material-icons">chevron_right</i>Resources</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" [class.collapsed]="collapsed" href="#" (click)="openStub('bots')"><i class="material-icons">chevron_right</i>Bots</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" [class.collapsed]="collapsed" href="#" (click)="openStub('works')"><i class="material-icons">chevron_right</i>Works</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" [class.collapsed]="collapsed" href="#" (click)="openStub('monitoring')"><i class="material-icons">chevron_right</i>Monitoring</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" [class.collapsed]="collapsed" href="#" (click)="openStub('world')"><i class="material-icons">chevron_right</i>World</a>
    </div>
</aside>
<blades-manager></blades-manager>
