<div class="header">
    <!--suppress HtmlFormInputWithoutLabel -->
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name" (ngModelChange)="load()">
    <button class="btn btn-primary" (click)="close()"><i class="material-icons c-pointer">close</i></button>
</div>

<div class="list-group">
    <div *ngFor="let group of groups" class="list-group-item">
        <div>{{group.resources}}</div>
        <a *ngIf="contains(group); else add" (click)="deleteFromGroup(group)">
            <i class="material-icons c-pointer">delete</i>
        </a>
        <ng-template #add>
            <a (click)="addToGroup(group)">
                <i class="material-icons c-pointer">add</i>
            </a>
        </ng-template>
    </div>
</div>

<button class="btn btn-light" (click)="addToNewGroup()"><i class="material-icons">add</i></button>

<paging [(page)]="page" [(size)]="size" (change)="load()"></paging>
