<mat-spinner *ngIf="dataSource.loading | async"></mat-spinner>

<div class="toolbar">
    <button mat-stroked-button class="spacing" (click)="reload()">Reload</button>
    <mat-form-field class="spacing">
        <mat-label>Script</mat-label>
        <mat-select>
            <mat-option *ngFor="let script of scripts" [value]="script" (onSelectionChange)="selectScript(script)">{{script}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="schedule()">Schedule</button>
</div>

<mat-table
       [dataSource]="dataSource"
       matSort
       matSortActive="date"
       matSortDirection="desc"
       class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="assignee">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Assignee</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.assignee}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['id', 'date', 'assignee', 'status']"></mat-header-row>
    <mat-row (click)="rowClicked(row)" *matRowDef="let row; columns: ['id', 'date', 'assignee', 'status']"></mat-row>

</mat-table>

<mat-paginator [length]="dataSource.total | async" [pageSize]="10"></mat-paginator>

<div class="log-tree-container">
    <mat-list *ngIf="task" class="log-tree mat-elevation-z8">
        <mat-tree [dataSource]="logDataSource" [treeControl]="logControl">
            <mat-nested-tree-node *matTreeNodeDef="let node">
                <mat-list-item matTreeNodeToggle [ngClass]="severityClass(node)">
                    <div class="node">
                        <div>{{node.message}}</div>
                        <div>{{node.time}} ms</div>
                    </div>
                </mat-list-item>
                <mat-list *ngIf="logControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                </mat-list>
            </mat-nested-tree-node>
        </mat-tree>
    </mat-list>
</div>