<h1 mat-dialog-title>Job</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="job.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="job.type">
            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="job.enabled">Enabled</mat-slide-toggle>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()">Ok</button>
</div>